workflows/MERI Assistant AI - Preparation Data Stage.json
{
  "name": "MERI Assistant AI - Preparation Data Stage",
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "=peraturan bkn no 2 tahun 2025"
              },
              {
                "name": "author",
                "value": "={{ $json.info.Author }}"
              }
            ]
          }
        }
      },
      "id": "b6a2f9e4-2523-4e77-b9ca-8ec87ace241f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        416,
        80
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "fae06a45-28bd-456c-b1df-7b9215227a1a",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        80,
        -80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "ef34042e-f132-494c-afbe-df8744e51359",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "milvusCollection": {
          "__rl": true,
          "value": "document",
          "mode": "id"
        },
        "embeddingBatchSize": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        304,
        -96
      ],
      "id": "b728c9fb-e2b9-4780-a314-b518c7fa0baf",
      "name": "Milvus Vector Store",
      "credentials": {
        "milvusApi": {
          "id": "M9yYqb3I7CQPCkHY",
          "name": "Milvus account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "68ece42c-1585-4359-b99b-550d6c5735c1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        -80
      ],
      "id": "87f061c2-cb82-470f-b421-6f45e437313d",
      "name": "Webhook",
      "webhookId": "68ece42c-1585-4359-b99b-550d6c5735c1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        80
      ],
      "id": "157f8e82-41dc-4c69-b6d3-99fbc7005a2d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "jltcSdJSHrRvhtch",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "58775707-3d59-457b-822a-0687081aed40",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1168,
        -64
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "34bda4cd-bfba-45d7-9c97-6ed369a70ce0",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1376,
        -64
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        976,
        -64
      ],
      "id": "bf4e67aa-3155-474c-a3bf-3c5fc318e13d",
      "name": "Extract from CSV",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "insert",
        "milvusCollection": {
          "__rl": true,
          "value": "diklat_demo_db",
          "mode": "id"
        },
        "embeddingBatchSize": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        1600,
        -48
      ],
      "id": "bcfcd9af-36b0-40f4-82a2-f0e211201e1f",
      "name": "Milvus Vector Store2",
      "credentials": {
        "milvusApi": {
          "id": "M9yYqb3I7CQPCkHY",
          "name": "Milvus account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "=diklat"
              },
              {
                "name": "tahun",
                "value": "=2025"
              }
            ]
          }
        }
      },
      "id": "ea82718a-78be-4ef3-8250-863eb904da7d",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1568,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1760,
        224
      ],
      "id": "f3fbb34c-b957-4f52-9593-38a92b91f755",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1376,
        128
      ],
      "id": "407dee33-8445-45bb-83d4-0dfc71edbafb",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "jltcSdJSHrRvhtch",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "68ece42c-1585-4359-b99b-550d6c5735c1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        800,
        -64
      ],
      "id": "c2b68b9d-1c3a-41e4-a2c3-1f7b62cd3dd7",
      "name": "Webhook1",
      "webhookId": "68ece42c-1585-4359-b99b-550d6c5735c1"
    },
    {
      "parameters": {
        "content": "Proses Extract, Chunking dan Embeding Data CSV ke Vector Database (Milvus)",
        "height": 560,
        "width": 1184
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -160
      ],
      "typeVersion": 1,
      "id": "c00b7ca3-8025-42bb-9273-bfe45d880a0e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Proses Extract, Chunking dan Embeding Data PDF ke Vector Database (Milvus)",
        "height": 560,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -160
      ],
      "typeVersion": 1,
      "id": "42b268b4-ffa6-4c5a-a106-01b0948ce20c",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Milvus Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Milvus Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Milvus Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Milvus Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Milvus Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Milvus Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e853bd2-c7f1-404c-a0e1-2bdcaf7af5fd",
  "meta": {
    "instanceId": "9bb94f6c8e760dcf334811f35150796a5e762067a8a9d047f6c2b44ca87aca99"
  },
  "id": "i3cT64JUTGnClgoj",
  "tags": []
}